<div class="container">
  <h2 class="text-center">Booking Details</h2><br>

  <p><strong>Car Type:</strong> <%= @car_type %></p>
  <p><strong>Pickup Location:</strong> <%= @pickup_location %></p>
  <p><strong>Dropoff Location:</strong> <%= @dropoff_location %></p>
  <p><strong>Pickup Time:</strong> <%= @pickup_time %></p>
  <p><strong>Distance:</strong> <%= @distance %> km</p>
  <p><strong>Price:</strong> RM<%= @price %></p>
</div>
