<h2>Booking Details</h2><br>

<% if @bookings.any? %>
  <% @bookings.each do |booking| %>
    <p>Car Type: <%= @car_type %></p>
    <p>Pickup Location: <%= @pickup_location %></p>
    <p>Dropoff Location: <%= @dropoff_location %></p>
    <p>Pickup Time: <%= @pickup_time %></p>
    <p>Distance: <%= @distance %> km</p>
    <p>Price: RM<%= @price %></p>
  <% end %>
<% else %>
  <p> Not Found. </p>
<% end %>